@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 45, 91, 255;
    --tertiary: rgba(251, 210, 212);
  }
}

.theme-bolu {
  --primary: 82, 113, 76;
}

.container-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 370px;
  margin: 135px auto 0;
  position: relative;
  overflow: hidden;
  padding: 1.5rem;
}

.slide {
  transition: opacity ease-in-out 0.4s;
}
